@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .hero-bus-image img {
    width: 25rem;
    /* position: fixed; */
    align-content: center;
    height: 10rem;

  }


  /* navbar */
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
     top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  /* nav over */

  /* hero section */

  .hero-bus-image img {
    width: 100%;

  }

  .hero-section h1{
    padding-left: 0.8rem;
  
    top: 11rem;
    /* margin: auto; */
    width: 93.25%;
    margin-left: 1rem;
   border-radius: 0.2rem;
  }
  

  .hero-section p {
    padding-left: 0.8rem;
  
    top: 11rem;
    /* margin: auto; */
    width: 93.25%;
    margin-left: 1rem;
    background-color: #d2c8b7d2;
    border-radius: 0.2rem;
  }

  /*   */

  /* .hero-section p {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  } */

  .hero-section .btn {
    padding-left: 3rem;
    padding-right: 6rem;
    /* position: absolute; */
    top: 11.5rem;
    margin: auto;
    width: 10%;
    border-radius: 0.3rem;
    margin-left: 8rem;
    /* background-color: red; */
  }

  .main-services {
    padding-top: 12rem;
  }


  /* cards */

  .container {
    padding-top: 17rem;
    /* position: absolute; */

  }

  .card img {
    height: 400px;
    width: 290px;

  }

  .card {
    height: 400px;
  }

  .intro {

    position: relative;
    bottom: 70px;
    /* bottom: 90px; */

  }

  .heading {

    top: 15rem;

  }

  /* steps  content*/

  .web-info {
    justify-content: space-between;
    position: absolute;
    background-color: white;
    padding: 1rem 1rem;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .wev-video img {
    height: 20rem;
    width: 22rem;
    /* padding-left: 15rem; */
    box-shadow: 5px 5px 20px black;
    /* padding-left: 30rem; */

  }

  .work-heading {
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 4rem;

  }

  .web-info {

    padding: 2rem 1rem;
    /* flex-wrap: wrap; */

  }

  .web-text-content1 {
    margin-top: -1rem;
  }

  .web-text-content2 {
    /* padding-top: 5rem; */
    margin-top: 2rem;
    /* background-color: red;  */
  }

  /* about us */
 .about{
  background-color: #d2c7ba;
  /* height: 30rem; */
  justify-content: space-between;
  padding: 1rem;
  /* gap: 2rem; */
  /* flex-wrap: wrap; */
  position: absolute;
  flex-direction: column;
  margin-top: 50rem;
  gap: 2rem;
}
  .about-width{
    width: 100%;
  }
  .terms-and-condation{
    padding-bottom: 4rem;
  }

}